ul.list-group.small
  li.list-group-item
    a.no-border-bottom(href="#bar-chart-intro")="Bar Chart"
  li.list-group-item
    a.no-border-bottom(href="#bar-chart")="Bar Chart - Simple"
  li.list-group-item
    a.no-border-bottom(href="#bar-chart-grouped")="Bar Chart - Grouped"
  li.list-group-item
    a.no-border-bottom(href="#bar-chart-benchmark")="Bar Chart - Benchmark"
  li.list-group-item
    a.no-border-bottom(href="#bar-chart-horizontal")="Horizontal Bar Chart"
  li.list-group-item
    a.no-border-bottom(href="#bar-chart-horizontal-negative")="Horizontal Bar Chart - with negative values"
  li.list-group-item
    a.no-border-bottom(href="#extended")="Extended - Donut chart"
  li.list-group-item
    a.no-border-bottom(href="#map-extended")="Extended - Map Sample"
  //- li.list-group-item
  //-   a.no-border-bottom(href="#bar-chart-additional-y-axis")="Bar Chart - Additional Y axis"
  //- li.list-group-item
  //-   a.no-border-bottom(href="#bar-chart-stacked")="Bar Chart - Stacked"